@import './_variables.css';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--surface-a);
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  min-height: calc(100vh - 64px - 450px);
  height: 100%;
  color: var(--surface-600);
  margin-block: 50px;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--gray-900);
  }
}
