[submodule "web2bizz-translator"]
	path = libs/web2bizz-translator
	url = https://github.com/Web2Bizz/web2bizz-translator.git

[submodule ".vimrc"]
  path = .vimrc
  url = https://github.com/letnull19A/.vimrc
