.authPanel {
    max-width: 385px;
    margin: 0 auto;
    margin-top: calc(64px * 2);
}

.authPanel form {
    margin-top: 30px;
}

.authButton {
    width: 100%;
    background-color: var(--green-500);
    margin-top: 30px;
}