.git
.gitignore

.vscode
.eslintrc.js

docker-compose*.yaml
docker-compose*.yml
.dockerignore
Dockerfile*

node_modules
npm-debug.log
.nvmrc
pnpm-lock.yaml

secrets.dev.yaml
values.dev.yaml

LICENSE
*.md

build
dist

.env.*

!envs