.errorContainer {
  border: 2px solid var(--red-400);
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 7px;
  background-color: var(--red-50);
}

.errorHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.errorHeader span {
  color: var(--red-400);
  font-weight: 700;
  font-size: 1.1em;
}

.errorIcon {
  color: var(--red-400);
  font-size: 1.8em;
}

.errorMesage {
  color: var(--red-400);
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.2em;
  display: block;
  margin-top: 15px;
}

.errorStack {
  display: block;
  margin-top: 10px;
  color: var(--red-400);
  line-height: 1.2em;
}
