.productCard {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: none;
  border: 1px solid var(--surface-200);
  overflow: visible !important;
  position: relative;
  transition: 0.2s;
}

.productCard:hover {
  transition: 0.2s;
  bottom: 10px;
}

.productCardFooterButton {
  width: 100%;
}

.productCardTitle,
.productCardTitleLoading {
  height: 2rem;
  line-height: 2rem;
  font-size: 1.5rem;
}

.productCardTitleLoading {
  margin-bottom: 10px;
}

.productCardTags {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.productCardTagLoading {
  display: block !important;
  width: 80px !important;
  height: 26px !important;
  border-radius: 16px !important;
}

.productCardTextLoading {
  margin-top: 30px;
}

.productCardTextLineLoading {
  margin-block: 5px;
}

.productCardButtonLoading {
  height: 39px !important;
}

@media (prefers-color-scheme: dark) {
  .productCard {
    border: 1px solid var(--surface-900);
  }

  .productCardTitle {
    color: var(--gray-100);
  }
}
